/*--------------Header-----------*/
@media only screen and (max-width: 576px) {
    header h5{
        margin: 80px 0 20px 0;
        font-size: 18px;
    }
    header h1{
        margin: 20px 0 60px 0;
        font-size: 35px;
    }
    .quatation{

    }
    .elementor .col-md-6{
        padding: 70px 0;
        text-align: center;
    }
    .elementor-span-underline{
        margin: auto;
    }
    .elementor p{
        padding: 20px;
        text-align: justify;
    }
    .tour{
        text-align: center;
    }
    .tour h1{
        font-size: 25px;
    }
    .tour p{
        padding-bottom: 30px;
        text-align: center;
        text-align: justify;
        padding: 20px;
    }
    .tour .col-md-4{
        padding: 20px 0 20px 0;
        text-align: center;
    }
    footer h5{
        font-size: 20px;
    }
    
  }